body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    p {
      font-size: 20px;
      line-height: 1.6; } }

a {
  color: #46CCAE;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #18718e; }

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #46CCAE; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-weight: 700;
    text-transform: uppercase; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: white; }
  .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    .navbar-custom .nav li a:hover {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: transparent; }
    .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: none;
      background-color: transparent; }
  .navbar-custom .nav li.active {
    outline: none; }
    .navbar-custom .nav li.active a {
      background-color: rgba(255, 255, 255, 0.3); }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 768px) {
    .navbar-custom {
      padding: 20px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #46CCAE;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }
  .navbar-custom .navbar-main-collapse {
    background: #30af92; }
    @media (min-width: 768px) {
      .navbar-custom .navbar-main-collapse {
        background: transparent; } }

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  color: white;
  background: url(../img/login-background.png) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .intro h1, .intro h2, .intro h3 {
    margin-bottom: 25px; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .brand-heading {
      font-size: 40px; }
    .intro .intro-body .intro-text {
      font-size: 18px; }
    .intro .intro-body .login-form {
      padding: 30px 40px 100px 40px;
      color: #343434;
      background: white;
      border-radius: 6px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16); }
      .intro .intro-body .login-form .btn-secondary-hollow {
        margin-top: 20px; }
  @media (min-width: 768px) {
    .intro {
      height: 100%;
      padding: 0; } }

.content-section {
  padding: 50px 0; }
  .content-section h2 {
    font-size: 2rem;
    margin-top: 50px; }
  .content-section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8; }
  .content-section .section-title {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5); }
  .content-section .section-title-inverse {
    border-bottom: 1px solid rgba(10, 10, 10, 0.5);
    color: rgba(10, 10, 10, 0.5); }
  .content-section .light {
    font-weight: 100;
    color: #beede3; }
  @media (min-width: 768px) {
    .content-section h2 {
      font-size: 3rem; } }

@media (min-width: 768px) {
  .content-section {
    padding: 100px 0; } }
.product-section {
  background: #46CCAE;
  color: white; }

.download-section p {
  margin-bottom: 20px; }

.cases-section {
  color: white;
  background: url(../img/case-background.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .cases-section .case-list {
    list-style: none; }
    .cases-section .case-list li {
      display: block;
      margin-bottom: 20px; }

.contact-section {
  background: #343434;
  color: white; }
  .contact-section h2 {
    margin-top: -30px; }
  .contact-section .shgbit-logo {
    display: block;
    margin: 50px auto;
    width: 80px;
    height: 90px; }
  .contact-section .contact-detail {
    display: inline-block;
    margin-top: 50px; }
  .contact-section .contact-mail {
    margin-left: 50px; }

.btn {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0.3rem; }

.btn-default {
  border: 1px solid #30B2DC;
  color: white;
  background-color: #30B2DC; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #1f94ba;
    color: white;
    outline: none;
    background-color: #1f94ba; }

.btn-default-hollow {
  border: 1px solid #30B2DC;
  color: #30B2DC;
  background-color: transparent; }
  .btn-default-hollow:hover, .btn-default-hollow:focus {
    border: 1px solid #1f94ba;
    color: white;
    outline: none;
    background-color: #1f94ba; }

.btn-secondary {
  border: 1px solid #46CCAE;
  color: white;
  background-color: #46CCAE; }
  .btn-secondary:hover, .btn-secondary:focus {
    border: 1px solid #30af92;
    color: white;
    outline: none;
    background-color: #30af92; }

.btn-secondary-hollow {
  border: 1px solid #46CCAE;
  color: #46CCAE;
  background-color: transparent; }
  .btn-secondary-hollow:hover, .btn-secondary-hollow:focus {
    border: 1px solid #30af92;
    color: white;
    outline: none;
    background-color: #30af92; }

footer {
  padding: 50px 0; }
  footer p {
    margin: 0; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=ec_index.css.map */
